<h3>Products</h3>
<!-- <div class="row">
    <div class="col-md-9">
        <app-products #productsC [hidden]="orderFinished"></app-products>
    </div>
    <div class="col-md-3">
        <app-shopping-cart (onOrderFinished)=finishOrder($event) #shoppingCartC 
          [hidden]="orderFinished"></app-shopping-cart>
    </div>
    <div class="col-md-6 offset-3">
        <app-orders #ordersC [hidden]="!orderFinished"></app-orders>
    </div>
</div> -->
<div class="row card-deck">
    <div class="col-lg-4 col-md-4 mb-4" *ngFor="let product of products | async">
        <div class="card text-center">
            <div class="card-header">
                <h4>{{product.name}}</h4>
            </div>
            <div class="card-body">
                <!-- <a href="#"><img class="card-img-top" src={{order.product.pictureUrl}} 
                    alt=""></a> -->
                <p class="card-title">{{product.description}}</p>
                <h5 class="card-title">${{product.price}}</h5>
                <!-- <div class="row">
                    <div class="col-4 padding-0" *ngIf="!isProductSelected(product)">
                        <input type="number" min="0" class="form-control"
                            [(ngModel)]=order.quantity>
                    </div>
                    <div class="col-4 padding-0" *ngIf="!isProductSelected(order.product)">
                        <button class="btn btn-primary" (click)="addToCart(order)"
                                [disabled]="product.quantity <= 0">Add To Cart
                        </button>
                    </div>
                    <div class="col-12" *ngIf="isProductSelected(order.product)">
                        <button class="btn btn-primary btn-block"
                                (click)="removeFromCart(order)">Remove From Cart
                        </button>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>
<div>
    <ul class="text-center list-inline py-3">
        <li class="list-inline-item"><a routerLink="add" class="btn btn-info active" role="button" routerLinkActive="active">Add</a></li>
        <li class="list-inline-item"><a routerLink="findbyname" class="btn btn-info active" role="button" routerLinkActive="active">Search</a></li>
        <li class="list-inline-item"><a class="btn btn-danger active" role="button" routerLinkActive="active" (click)='deleteProducts()'>Delete All</a></li>
      </ul>
</div>

