
  <!-- <div class="container">
    <div class="row">
      <div class="col-md-12">
            <h2 class="card-title text-center text-white py-3">{{title}}</h2>
            <ul class="text-center list-inline py-3">
              <li class="list-inline-item"><a routerLink="add" class="btn btn-info active" role="button" routerLinkActive="active">Add</a></li>
              <li class="list-inline-item"><a routerLink="findbyage" class="btn btn-info active" role="button" routerLinkActive="active">Search</a></li>
            </ul>
      </div>
      <div class="row">
        
      </div>
    </div>
  </div> -->
  <router-outlet></router-outlet>